<div class="container mt-3">

  <div class="card-product">
    <%= cl_image_tag("g1nrs2ak157un7bdtqpc", width: 400, height: 300, crop: :fill) %>
    <div class="card-product-infos ml-3">
      <div class="d-flex" style="align-items: baseline">
        <h1>Cocktails</h1>
        <i class="fas fa-cocktail ml-2"></i>
      </div>

      <hr>

      <ul>
        <div>
          <% @cocktails.each do |cocktail|%>
            <li>
              <%= link_to cocktail.name, cocktail_path(cocktail)  %>
              <%= link_to cocktail_path(cocktail), method: :delete, class: "text-info", data: { confirm: 'Are you sure?'} do %>
                <i class="fa fa-trash ml-3"></i>
              <% end %>
            </li>
          <% end %>
        </div>
      </ul>
      <hr>
      <%= link_to "+ Create one", new_cocktail_path %>
    </div>
  </div>

</div>


