<div class="container mt-3">

  <div class="card-product">
    <div class="card-product-infos ml-3">
      <div class="d-flex" style="align-items: baseline">
        <i class="fas fa-cocktail ml-2"></i>
      </div>

      <hr>

      <ul>
        <div class="row">
          <% @cocktails.each do |cocktail|%>

            <div class="d-flex col-4">
                <li>
                  <%= cl_image_tag cocktail.photo.key, width: 100, height: 100, crop: :fill, class:"thumbnail" %>
                  <%= link_to cocktail.name, cocktail_path(cocktail)  %>
                  <%= link_to cocktail_path(cocktail), method: :delete, class: "text-info", data: { confirm: 'Are you sure?'} do %>
                    <i class="fa fa-trash ml-3"></i>
                  <% end %>
                </li>

            </div>

          <% end %>
        </div>
      </ul>
      <hr>
      <%= link_to "+ Create one", new_cocktail_path %>
    </div>
  </div>

</div>


